 h1 {
  text-align: center;
}
li {
  font-size: 20px;
}

p {

margin: 2%;
padding: 2%;


}

h2 {

margin: 2%;
padding: 2%;


}

p { 
  
  
  font-size: 26px; 
  line-height: 1.8; 

}

h1 {

color: red;

}

html {
  scroll-behavior: smooth;
}

.topo {
    display: flex;
}

.topo img {
    margin-left: auto;
    width: 100px;
}
.topo {
    position: relative;
}

.topo img {
    width: 200px;
    position: absolute;
    right: 0;
    top: 60px; /* controla o quanto desce */
}